.video-main {
   position: fixed;
   bottom: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #000;
   height: calc(100vh - var(--title-bar-height) * 2);
   overflow-y: scroll;
   scroll-snap-type: y mandatory;
}

.video-post {
   height: 25%;
   width: min-content;
   margin: 0px;
   background-color: #000;
   scroll-snap-align: start;
   scroll-snap-stop: always;
}

.mobile-full > .video-post {
   margin: 0;
   height: 100%;
   width: 100vw;
}

.home-icon {
   position: absolute;
   left: 5vw;
}

span.material-symbols-rounded a {
   color: #aaa;
   background-color: #000;
}

.controls {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: var(--title-bar-height);
   background-color: #000;
}

.controls .material-symbols-rounded {
   margin: 0 5px;
}

.username-status {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.username-status>h1,
.username-status>h2,
.username-status>h3 {
   margin: 0;
}

.favorite {
   color: red;
}

.hidden {
   display: none;
}

/* Remove these while I work on implementing them properly */
.favorite-icon,
.hide-icon,
.delete-icon,
.unhide-icon {
   display: none;
}

/* 
.stop-icon {
   display: none;
} */

@media screen and (min-width: 600px) {}

@media screen and (min-width: 768px) {
   .video-main {
      background-color: #262626;
   }

   .video-post {
      height: 50%;
      margin: 5px;
      scroll-snap-align: center;
   }
}

@media screen and (min-width: 992px) {
   .video-post {
      height: 100%;
   }
}

@media screen and (min-width: 1200px) {}
