.video-main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #262626;
   height: calc(100vh - var(--title-bar-height));
   overflow-y: scroll;
}

.video-post {
   height: 100%;
   width: 100vw;
   margin: 0px;
   background-color: #000;
}

.home-icon {
   position: absolute;
   left: 5vw;
}

span.material-symbols-rounded a {
   color: #aaa;
   background-color: #000;
}

.controls {
   position: absolute;
   right: 5vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.controls .material-symbols-rounded {
   margin: 0 5px;
}

.username-status {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 10px;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {
   .video-post {
      width: inherit;
      margin: 5px;
   }
}

@media screen and (min-width: 992px) {
   
}

@media screen and (min-width: 1200px) {
   
}
