.video-main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.video-post {
   height: calc(100vh - 3rem);
   width: 100vw;
   margin: 0px;
   background-color: #000;
}

.home-icon {
   position: absolute;
   left: 5vw;
}

span.material-symbols-rounded a {
   color: #aaa;
   background-color: #000;
}

.back-to-top-icon {
   position: absolute;
   right: 5vw;
}


@media screen and (min-width: 600px) {

}

@media screen and (min-width: 768px) {
   .video-post {
      height: calc(100vh - 3rem - 15px);
      width: inherit;
      margin: 5px;
   }
}

@media screen and (min-width: 992px) {
   
}

@media screen and (min-width: 1200px) {
   
}
